<% if @errors %>
<ul>
  <% @errors.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= form_for :list, url: user_list_path(@user, @list), method: :patch do |f| %>
Title:
<br>
  <%= f.text_field :title %>
  <br>
  <%= f.submit "Update List" %>
<% end %>