<h2>
  <%= @list.title %>
</h2>

<ul>
  <% @list.tasks.each do |task| %>
    <li><%= task.description %>
      <%= link_to "Edit", edit_user_list_task_path(@user, @list, task) %>
      Delete</li>
  <% end %>
</ul>

<%= link_to "Add task to this list", new_user_list_task_path(@user, @list) %>