<h2>Username: <%= @user.username %></h2>

<p>Lists:</p>
<ul>
<% @user.lists.each do |list| %>
  <li><%= link_to list.title, user_list_path(@user, list)  %>
    <%= link_to "Edit title", edit_user_list_path(@user, list) %>
    Delete
  </li>
<% end %>
</ul>

<%= link_to "Add new list", new_user_list_path(@user) %>